
#linesStationsList, #linesRoutesList,
#routesNorthern, #routesSouthern, #routesEastern, #routesWestern, #trainModelsList,
#linesRoutesScheduleList, #routesNorthernSchedule, #routesEasternSchedule,
#routesSouthernSchedule, #routesWesternSchedule {
    display: none;
}

#addStationMenu, #addTrainMenu, #Northern, #Southern, #Western, #Eastern, #trainModelsMenu,
#modifyRouteMenu, #scheduleRoutesMenu, #NorthernSchedule, #EasternSchedule, #SouthernSchedule,
#WesternSchedule, #tariffMenu {
    cursor: pointer;
}

#trainModelsMenu:hover, #addStationMenu:hover, #modifyRouteMenu:hover, #scheduleRoutesMenu:hover,
#tariffMenu:hover {
    color: #cbd3da !important;
}

.form-control:focus {
    border-color: #FF9999;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: #ff0500;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #ff0500;
}

.bootstrap-datetimepicker-widget table td span.active {
    background-color: #ff0500;
}

.fa-clock {
    color: #ff0500;
}

.fa-calendar {
    color: #ff0500;
}

.stretched-link:hover {
    text-decoration: none;
}

.list-group-item.active {
    background-color: #ffbbbb;
    border-color: #ffbbbb;
}

.list-group-item a:hover {
    text-decoration: none;
}

#map {
    height: 75vh;
}
